*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container{
    width: 600px;
    height:400px;
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: aquamarine;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
}
.change-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.ques-text{
    width:500px;
    /* width:400px; */
    margin:5px 10px;
    text-align:left;
    /* background-color: brown; */
}

.change-container button{
    text-align:left;
    width: 500px;
    height: 35px;
    padding: 5px 0px 5px 10px;
    cursor: pointer;
    background-color: aliceblue;
    border: 1px solid black;
    font-size:16px;
    &:hover{
    background-color: rgb(212, 234, 255);
    }
    &:focus{
    background-color: rgb(192, 222, 250);
    }
}
.change-container .option{
    margin: 5px;
    &:focus{
     color: greenyellow;
    }
}
.next-btn{
    width: 350px;
    height: 40px;
    margin:15px 0px;
    padding:5px 0px 10px 0px;
    background-color: rgb(148, 219, 255);
    text-align:center;
    font-size:20px;
    border: 1px solid black;
    border-radius: 5px;
    color: rgb(79, 79, 81);
    cursor: pointer;
    &:hover{
    background-color: rgb(24, 171, 244);
    color: rgb(255, 255, 255);
        transition: linear ease-in 10ms;

    }
}
.score-section { 
    padding: 2px 10px;
    width: 500px;
    height: 650px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(253, 250, 246);
    font-weight: bold;
    color: green;
    background-color: azure;
 }
  #scortext{
    display: block;
    margin:10px auto;
    text-align:center;
    background-color: aquamarine;
    color: green;
 }
 .score-section p{
    height: 400px;
 }
 .score-section button{
    margin: 10px;
    padding: 5px 10px;
 }
